@font-face {
  font-family: 'Segoe';
  src: url(../fonts/segoe.ttf) format('truetype');
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe';
}

#block-sharethis-sharethis-block {
  text-align: right;
  margin-top: 15px;
}

#block-system-main-menu {
  margin: 0 -15px 20px;
  .menu {
    background-color: #00a3e8;
    > li {
      border: 1px solid darken(#00a3e8, 10%);
      text-align: center;
      &.active-trail, &:hover {
        background-color: darken(#00a3e8, 10%);
      }
      a {
        color: white;
        font-family: 'Segoe';
      }
    }
  }
}

.node {
  p {
    text-indent: 25px;
  }
}

.main-container {
  background: white;
  padding-bottom: 35px;
}

.view-council {
  .views-field-field-council-photo {
    float: left;
    margin: 0 10px 10px 0;
  }
}

.view-objects {
  .col {
    margin-bottom: 20px;
    img {
      padding: 20px 30px 20px 0;
    }
  }
}

.node-object {
  .field-name-field-object-image {
    text-align: center;
    margin-bottom: 20px;
  }
  .submitted {
    display: none;
  }
}

.view-partners {
  text-align: center;
  margin-top: 20px;
}

.well {
  background: none;
  border: none;
}

.webform-submit {
  margin-top: 10px;
}